body{
  background-color: lightblue;
}

.post{
  border-style: solid;
  border-width: 3px;
  margin: 50px 50px 50px 50px;
}

.eachPost{
  border-style: solid;
  border-width: 3px;
  margin: 30px 30px 30px 30px;
  width: 25%;
  float: right;
}

.paragraphPost{
  height:75px;
  overflow: scroll;
}
